---
import Header from "../components/Header.astro";
import Accent from "../components/Accent.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Tag from "../components/Tag.astro";
import TextInput from "../components/TextInput.astro";
import TextArea from "../components/TextArea.astro";
import Radio from "../components/Radio.astro";
import Checkbox from "../components/Checkbox.astro";
import MenuButton from "../components/MenuButton.astro";
import Select from "../components/Select.astro";
import Collapsible from "../components/Collapsible.astro";
import CollapsibleGroup from "../components/CollapsibleGroup.astro";
import Image from "../components/Image.astro";
import Card from "../components/Card.astro";
import ConfirmDialog from "../components/ConfirmDialog.astro";
import CodeBlock from "../components/CodeBlock.astro";
import Info from "../components/Info.astro";
import Code from "../components/Code.astro";
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Quote from "../components/Quote.astro";
import TagInput from "../components/TagInput.astro";
---

<Layout>
	<div>
		<div class="space-y-2">
			<Logo />
			<Header>Lorem ipsum dolor sit amet.</Header>
			<Accent>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</Accent>
			<Text as="p"
				>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</Text
			>
			<Text as="p" class="font-bold"
				>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</Text
			>
			<Text as="p" class="font-light"
				>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</Text
			>
			<div class="space-x-2">
				<Button size="lg">Button</Button>
				<Button size="lg" variant="outline">Button</Button>
				<Button size="lg" variant="ghost">Button</Button>
			</div>
			<div class="space-x-2">
				<Button>Button</Button>
				<Button variant="outline">Button</Button>
				<Button variant="ghost">Button</Button>
			</div>
			<div class="space-x-2">
				<Button size="sm">Button</Button>
				<Button size="sm" variant="outline">Button</Button>
				<Button size="sm" variant="ghost">Button</Button>
			</div>
			<div class="space-x-2">
				<Tag size="sm">Tag</Tag>
				<Tag size="base" class="bg-accent-500 text-white">Tag</Tag>
				<Tag size="lg" class="bg-accent-500 text-white">Tag</Tag>
			</div>
			<div class="w-sm space-y-2">
				<TextInput label="Username" placeholder="Enter your username" />
				<TextInput
					label="Email"
					type="email"
					placeholder="Enter your email"
					class="mt-2"
				/>
				<TextInput
					label="Password"
					type="password"
					placeholder="Enter your password"
					class="mt-2"
				/>
			</div>
			<div class="w-sm space-y-2">
				<TextArea label="Message" placeholder="Enter your message" />
				<TextArea
					label="Comments"
					placeholder="Enter your comments"
					class="mt-2"
				/>
			</div>
			<div>
				<Radio name="option" value="1" label="Option 1" />
				<Radio name="option" value="2" label="Option 2" class="ml-4" />
			</div>
			<div>
				<Checkbox
					name="agree"
					value="yes"
					label="I agree to the terms and conditions"
				/>
			</div>
			<div class="w-sm space-y-2">
				<Select
					label="Country"
					name="country"
					placeholder="Choose..."
					options={[
						{ value: "us", label: "United States" },
						{ value: "uk", label: "United Kingdom" },
						{ value: "ca", label: "Canada" },
					]}
				/>
			</div>
			<div class="w-sm space-y-2">
				<MenuButton />
				<MenuButton isOpen />
			</div>
			<div class="w-sm space-y-4">
				<CollapsibleGroup accordion>
					<Collapsible title="Accordion 1" open>
						<p>
							Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
							faucibus ex sapien vitae pellentesque sem placerat. In id cursus
							mi pretium tellus duis convallis.
						</p>
					</Collapsible>
					<Collapsible title="Accordion 2">
						<p>
							Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
							faucibus ex sapien vitae pellentesque sem placerat. In id cursus
							mi pretium tellus duis convallis.
						</p>
					</Collapsible>
					<Collapsible title="Accordion 3">
						<p>
							Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
							faucibus ex sapien vitae pellentesque sem placerat. In id cursus
							mi pretium tellus duis convallis.
						</p>
					</Collapsible>
				</CollapsibleGroup>
				<CollapsibleGroup>
					<Collapsible title="Independent 1" open>
						<p>
							Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
							faucibus ex sapien vitae pellentesque sem placerat. In id cursus
							mi pretium tellus duis convallis.
						</p>
					</Collapsible>
					<Collapsible title="Independent 2" open>
						<p>
							Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
							faucibus ex sapien vitae pellentesque sem placerat. In id cursus
							mi pretium tellus duis convallis.
						</p>
					</Collapsible>
					<Collapsible title="Independent 3">
						<p>
							Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
							faucibus ex sapien vitae pellentesque sem placerat. In id cursus
							mi pretium tellus duis convallis.
						</p>
					</Collapsible>
				</CollapsibleGroup>
			</div>
			<div class="flex gap-4">
				<Image
					src="https://picsum.photos/200/200"
					alt="Sample image"
					class="w-48 h-48"
				/>
				<Image class="w-48 h-48" />
			</div>
			<Card
				class="w-xs"
				title="Lorem ipsum dolor sit amet."
				description="Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor."
				href="#"
				tags={["Tag", "Tag", "Tag", "Tag", "Tag", "Tag", "Tag", "Tag"]}
			/>
			<ConfirmDialog
				class="w-sm"
				title="Lorem ipsum dolor sit amet."
				description="Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat."
			/>
			<CodeBlock class="w-xs"
				>{
					`<div>
  <h1>Hello World!</h1>
  <p>Copyable Code<p>
<div>`
				}</CodeBlock
			>
			<Info class="w-xs"
				>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
				faucibus ex sapien vitae pellentesque sem placerat.</Info
			>
			<Info variant="success" class="w-xs"
				>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
				faucibus ex sapien vitae pellentesque sem placerat.</Info
			>
			<Info variant="warning" class="w-xs"
				>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
				faucibus ex sapien vitae pellentesque sem placerat.</Info
			>
			<Info variant="danger" class="w-xs"
				>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
				faucibus ex sapien vitae pellentesque sem placerat.</Info
			>
			<Text as="p">Run <Code>npm install</Code> to get started.</Text>
		</div>
		<div>
			<Quote>Lorem ipsum dolor sit amet consectetur adipiscing elit. Dolor sit amet consectetur adipiscing elit quisque faucibus.</Quote>
		</div>
		<div class="w-sm space-y-2">
			<TagInput
				label="Skills"
				name="skills"
				options={["JavaScript", "TypeScript", "React", "Astro", "CSS", "Tailwind", "Node.js", "Python", "Rust", "Go"]}
				placeholder="Search skills..."
			/>
		</div>
	</div>
</Layout>
