---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Text from "../components/Text.astro";
import TextInput from "../components/TextInput.astro";
import TextArea from "../components/TextArea.astro";
import Select from "../components/Select.astro";
import Button from "../components/Button.astro";
import GridBox from "../components/GridBox.astro";
import { t } from "../i18n/utils";
---

<Layout pageTitle={t("contact.pageTitle")} asideTitle={t("contact.asideTitle")}>
  <div class="flex flex-col gap-y-6 gap-x-4 p-4">
    <div class="space-y-2">
      <Header variant="h2" size="xl">{t("contact.heading")}</Header>
      <Text>
        {t("contact.description")}
      </Text>
    </div>
    <div class="pt-8">
      <form>
        <GridBox columns={2} gap={4}>
          <div>
            <TextInput
              label={t("contact.firstName")}
              name="firstName"
              placeholder={t("contact.firstNamePlaceholder")}
              required
            />
          </div>
          <div>
            <TextInput
              label={t("contact.lastName")}
              name="lastName"
              placeholder={t("contact.lastNamePlaceholder")}
              required
            />
          </div>
          <div class="col-span-2">
            <TextInput
              label={t("contact.email")}
              type="email"
              name="email"
              placeholder={t("contact.emailPlaceholder")}
              required
            />
          </div>
          <div class="col-span-2">
            <Select
              label={t("contact.purposeLabel")}
              name="purpose"
              placeholder={t("contact.purposePlaceholder")}
              options={[
                { label: t("contact.purposeGeneral"), value: "general" },
                { label: t("contact.purposeFreelance"), value: "freelance" },
                { label: t("contact.purposeCollaboration"), value: "collaboration" },
                { label: t("contact.purposeBug"), value: "bug" },
                { label: t("contact.purposeFeedback"), value: "feedback" },
                { label: t("contact.purposeOther"), value: "other" },
              ]}
              required
            />
          </div>
          <div class="col-span-2">
            <TextArea
              label={t("contact.messageLabel")}
              name="message"
              placeholder={t("contact.messagePlaceholder")}
              required
            />
          </div>
          <div class="col-span-2 flex gap-2 justify-end">
            <Button type="submit">{t("contact.submit")}</Button>
            <Button type="reset" variant="outline" class="ml-2">{t("contact.reset")}</Button>
          </div>
        </GridBox>
      </form>
    </div>
  </div>
</Layout>
