---
import classNames from "classnames";
import Button from "./Button.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class={classNames(
    "relative bg-neutral-800 font-mono text-sm text-neutral-100",
    className,
  )}
  data-codeblock
>
  <Button
    type="button"
    class="absolute top-2 right-2 text-success-500"
    data-codeblock-copy
    aria-label="Copy code"
    square
  >
    <i class="fa-solid fa-copy text-lg"></i>
  </Button>
  <pre class="font-mono p-6 pr-10 overflow-x-auto text-success-500"><code><slot /></code></pre>
</div>

<script>
  document
    .querySelectorAll<HTMLElement>("[data-codeblock]")
    .forEach((block) => {
      const btn = block.querySelector<HTMLButtonElement>(
        "[data-codeblock-copy]",
      )!;
      const code = block.querySelector("code")!;

      btn.addEventListener("click", () => {
        navigator.clipboard.writeText(code.textContent || "");
        const icon = btn.querySelector("i")!;
        icon.classList.replace("fa-copy", "fa-check");
        setTimeout(() => icon.classList.replace("fa-check", "fa-copy"), 1500);
      });
    });
</script>
