---
import Header from "./Header.astro";
import Text from "./Text.astro";
import Button from "./Button.astro";
import Accent from "./Accent.astro";
import { t } from "../i18n/utils";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<main
  id="page-wrapper"
  class="pt-20 md:pt-28 px-4 md:px-8 gap-4 md:gap-8 min-h-screen flex flex-row transition-all duration-300 ease-in-out"
>
  <aside
    class="fixed left-8 top-28 bottom-0 hidden md:flex flex-col justify-between py-8 w-18 z-30"
  >
    <div class="w-64 origin-top-left rotate-90 translate-x-18 -space-y-2">
      <Header size="xs" class="select-none">{title}</Header>
      <Text as="span" size="xs" class="select-none">
        {description}
      </Text>
    </div>
    <Button
      class="flex-col gap-2 h-auto py-4 px-0!"
      variant="ghost"
      data-back-to-top
    >
      <i class="fa-solid fa-chevron-up" aria-hidden="true"></i>
      <Accent class="text-neutral-800 text-[10px]">{t("wrapper.backToTop")}</Accent>
    </Button>
  </aside>
  <div class="flex flex-col container mx-auto grow pl-0 md:pl-24 pb-12">
    <slot />
  </div>
</main>

<Button
  class="md:hidden fixed bottom-4 left-4 z-30 flex-col gap-1 h-auto py-3 px-3"
  variant="ghost"
  data-back-to-top-mobile
>
  <i class="fa-solid fa-chevron-up" aria-hidden="true"></i>
  <Accent class="text-neutral-800 text-[10px]">{t("wrapper.top")}</Accent>
</Button>

<script>
  document.addEventListener("astro:page-load", () => {
    document
      .querySelector("[data-back-to-top]")
      ?.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });
    document
      .querySelector("[data-back-to-top-mobile]")
      ?.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });
  });
</script>
