---
import classNames from "classnames";
import Text from "./Text.astro";
import formatDate from "../util/formatDate";
import { t } from "../i18n/utils";

interface Props {
  createdAt?: string;
  updatedAt?: string;
  isUpdated?: boolean;
  class?: string;
  readTime?: number;
}

const {
  createdAt,
  updatedAt,
  isUpdated = false,
  class: className,
  readTime,
} = Astro.props;
---

<div
  class={classNames(
    "flex justify-between border-b-2 border-dotted border-neutral-800 py-1",
    className,
  )}
>
  <div class="flex gap-2">
    <div>
      {
        createdAt && (
          <Text size="sm" class="font-bold">{t("postInfo.published")} {formatDate(createdAt)}</Text>
        )
      }
    </div>
    <div>
      {
        isUpdated && updatedAt && (
          <Text size="xs" class="italic text-neutral-400!"> {t("postInfo.updated")} {formatDate(updatedAt)}</Text>
        )
      }
    </div>
  </div>

  <div>
    {readTime != null && <Text size="sm" class="font-bold">{t("postInfo.readTime")} {readTime} {t("postInfo.minRead")}</Text>}
  </div>
</div>
