---
import Accent from "./Accent.astro";
---

<div class="flex px-8 py-16 gap-8">
  <div>
    <i class="fa-solid fa-quote-left text-4xl text-accent-900" aria-hidden="true"></i>
  </div>
  <div class="grow">
    <Accent class="text-neutral-800 select-none">
      <slot />
    </Accent>
  </div>
</div>